body {
    font-family: 'Calibri', sans-serif;
    background: wheat;
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
    margin-top: 20px;
    font-size: 28px;
    font-weight: bold;
}

.calendar {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.viewControls {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}


.month-year {
    font-size: 18px;
    font-weight: bold;
}

#calendar-container {
    border: 1px solid #ccc;
}

.days-header, .days-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.day {
    text-align: center;
    padding: 10px;
    background: #f8f8f8;
    border: 1px solid #ddd;
    font-size: 14px;
}

.header-day {
    font-weight: bold;
    background: #ddd;
}

.current-day {
    background-color: rgb(59, 167, 255);
    color: white;
    border: 2px solid black; 
}



.day-header {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.day-schedule {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 400px;
    margin: auto;
}

.time-slot {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid #ddd;
    background: #f9f9f9;
}

.time-label {
    font-weight: bold;
}

.event {
    flex-grow: 1;
    text-align: left;
    padding-left: 10px;
}